#imagebrowse > ul {
  margin: 1em 0;
  padding: 0;
  border-top: 1px dotted black;
  font-family: monospace;
  text-align: center;
}

#imagebrowse > ul li {
  padding: 1ex;
  display: inline-block;
  max-width: 30%;
  overflow-x: hidden;
}

#imagebrowse > ul .preview,
#imagebrowse > ul .caption {
  max-width: 100%;
}

#imagebrowse > ul .caption { width: 100%; }
